In [44]:
import psycopg2
import io

In [16]:
import os
os.environ['PYTHONIOENCODING'] = 'utf-8'

In [17]:
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

'en_US.UTF-8'

In [18]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="8483$Bia",
    host="localhost",
    port="5432"
)

In [22]:
cur = conn.cursor()

In [62]:
try:
    cur.execute("DROP TABLE IF EXISTS MATRICULAS")
    cur.execute("""
        CREATE TABLE MATRICULAS (
            AN_LETIVO                     numeric,
            CD_UNIDADE_EDUCACAO           numeric,
            NOME_DISTRITO                 text,
            CD_SETOR                      numeric,
            TIPO_ESCOLA                   text,
            NOME_ESCOLA                   text,
            DRE                           text,
            CD_INEP_ESCOLA                text,
            SITUACAO_ESCOLA               text,
            CD_TURMA                      numeric,
            CD_TURNO                      numeric,
            DESC_TURNO                    text,
            CD_SERIE                      numeric,
            DESC_SERIE                    text,
            MODALIDADE                    text,
            MODALIDADE_SEGMENTO           text,
            TURMA_ESCOL                   text,
            NOME_TURMA                    text,
            HORA_IN_TURMA                 numeric,
            HORA_FIM_TURMA                numeric,
            DESC_PERIODICIDADE_TURMA      text,
            CD_ETAPA_ENSINO               numeric,
            DESC_ETAPA_ENSINO             text,
            CD_CICLO_ENSINO               numeric,
            DESC_CICLO_ENSINO             text,
            CD_TIPO_TURMA                 numeric,
            DESC_TIPO_TURMA               text,
            CD_TIPO_PROGRAMA              numeric,
            DESC_TIPO_PROGRAMA            text,
            DUR_DIA_TURMA                 numeric,
            DUR_DIA_HORA                  numeric,
            DUR_DIA_MIN                   numeric,
            DUR_SEMAN_TURMA               numeric,
            DUR_SEM_HORA                  numeric,
            DUR_SEM_MIN                   numeric,
            X_SEMANA                      numeric,
            SEG                           numeric,
            TER                           numeric,
            QUA                           numeric,
            QUI                           numeric,
            SEX                           numeric,
            SAB                           numeric,
            DOM                           numeric,
            CD_ALUNO_SME                  numeric,
            ANO_NASC_ALUNO                numeric,
            MES_NASC_ALUNO                numeric,
            IDADE_ALUNO_ANO_CIVIL         numeric,
            IDADE_ALUNO_MAR               numeric,
            CD_SEXO                       text,
            CD_RACA_COR                   numeric,
            DESC_RACA_COR                 text,
            CD_PAIS_NASC                  numeric,
            DESC_PAIS_NASC                text,
            CD_MUN_NASC                   text,
            DESC_MUN_NASC                 text,
            DESC_UF_NASC                  text,
            NEE_ALT_HAB                   numeric,
            DEF__AUTISMO                  numeric,
            DEF__SURDEZ_LEVE              numeric,
            DEF__SURDEZ_SEV               numeric,
            DEF__INTELECT                 numeric,
            DEF__MULTIPLA                 numeric,
            DEF__CEGUEIRA                 numeric,
            DEF__BAIXA_VISAO              numeric,
            DEF__SURDO_CEG                numeric,
            DEF__TRANST_DES_INF           numeric,
            DEF__SINDR_ASPER              numeric,
            DEF__SINDR_RETT               numeric,
            DEF__FIS_N_CADEIR             numeric,
            DEF__FIS_CADEIR               numeric,
            DEF__N_POSSUI                 numeric,
            CD_MAT                        numeric,
            DT_IN_MAT                     timestamp,
            DT_FIM_MAT                    timestamp,
            QTD_DIAS_MAT                  numeric,
            ANO_IN_MAT                    numeric,
            MES_IN_MAT                    numeric,
            SITUACAO_MAT                  text,
            ANO_SIT_MAT                   numeric,
            MES_SIT_MAT                   numeric,
            SIT_AL_APROV                  numeric,
            SIT_AL_REPROV                 numeric,
            SIT_AL_ABAND                  numeric,
            SIT_AL_CONCL                  numeric,
            SIT_AL_TRANSF                 numeric,
            SIT_AL_FALEC                  numeric,
            SIT_AL_NCOM                   numeric,
            SIT_AL_EXCL                   numeric,
            SIT_AL_CES                    numeric,
            SIT_AL_REMAN                  numeric,
            SIT_AL_RECLAS                 numeric,
            SIT_AL_ATIVO                  numeric,
            CD_PARECER_CONCL_FIN          text,
            DESC_PARECER_CONCL_FIN        text
            )
    """)
    
except Exception as e:
    print("failed to create table:", e)
    conn.rollback()

In [63]:
copy_command = """
COPY MATRICULAS (
    AN_LETIVO,
    CD_UNIDADE_EDUCACAO,
    NOME_DISTRITO,
    CD_SETOR,
    TIPO_ESCOLA,
    NOME_ESCOLA,
    DRE,
    CD_INEP_ESCOLA,
    SITUACAO_ESCOLA,
    CD_TURMA,
    CD_TURNO,
    DESC_TURNO,
    CD_SERIE,
    DESC_SERIE,
    MODALIDADE,
    MODALIDADE_SEGMENTO,
    TURMA_ESCOL,
    NOME_TURMA,
    HORA_IN_TURMA,
    HORA_FIM_TURMA,
    DESC_PERIODICIDADE_TURMA,
    CD_ETAPA_ENSINO,
    DESC_ETAPA_ENSINO,
    CD_CICLO_ENSINO,
    DESC_CICLO_ENSINO,
    CD_TIPO_TURMA,
    DESC_TIPO_TURMA,
    CD_TIPO_PROGRAMA,
    DESC_TIPO_PROGRAMA,
    DUR_DIA_TURMA,
    DUR_DIA_HORA,
    DUR_DIA_MIN,
    DUR_SEMAN_TURMA,
    DUR_SEM_HORA,
    DUR_SEM_MIN,
    X_SEMANA,
    SEG,
    TER,
    QUA,
    QUI,
    SEX,
    SAB,
    DOM,
    CD_ALUNO_SME,
    ANO_NASC_ALUNO,
    MES_NASC_ALUNO,
    IDADE_ALUNO_ANO_CIVIL,
    IDADE_ALUNO_MAR,
    CD_SEXO,
    CD_RACA_COR,
    DESC_RACA_COR,
    CD_PAIS_NASC,
    DESC_PAIS_NASC,
    CD_MUN_NASC,
    DESC_MUN_NASC,
    DESC_UF_NASC,
    NEE_ALT_HAB,
    DEF__AUTISMO,
    DEF__SURDEZ_LEVE,
    DEF__SURDEZ_SEV,
    DEF__INTELECT,
    DEF__MULTIPLA,
    DEF__CEGUEIRA,
    DEF__BAIXA_VISAO,
    DEF__SURDO_CEG,
    DEF__TRANST_DES_INF,
    DEF__SINDR_ASPER,
    DEF__SINDR_RETT,
    DEF__FIS_N_CADEIR,
    DEF__FIS_CADEIR,
    DEF__N_POSSUI,
    CD_MAT,
    DT_IN_MAT,
    DT_FIM_MAT,
    QTD_DIAS_MAT,
    ANO_IN_MAT,
    MES_IN_MAT,
    SITUACAO_MAT,
    ANO_SIT_MAT,
    MES_SIT_MAT,
    SIT_AL_APROV,
    SIT_AL_REPROV,
    SIT_AL_ABAND,
    SIT_AL_CONCL,
    SIT_AL_TRANSF,
    SIT_AL_FALEC,
    SIT_AL_NCOM,
    SIT_AL_EXCL,
    SIT_AL_CES,
    SIT_AL_REMAN,
    SIT_AL_RECLAS,
    SIT_AL_ATIVO,
    CD_PARECER_CONCL_FIN,
    DESC_PARECER_CONCL_FIN
)
FROM STDIN WITH (
    FORMAT CSV,
    HEADER,
    DELIMITER ';',
    NULL ''
);
"""

with open('Microdados_Matricula_EOL_Escolarizacao_Educacao_Infantil_2023.csv', 'r', encoding='utf-8') as f:
    try:
        class CommaToDot(io.TextIOBase):
            def __init__(self, f):  self.f = f
            def read(self, size=-1):
                chunk = self.f.read(size)
                return chunk.replace(',', '.') if chunk else ''
        fixer = CommaToDot(f)
        cur.copy_expert(copy_command, fixer)
    except Exception as e:
        print("failed to copy data:", e)
        conn.rollback()

In [64]:
cur.execute("SELECT * FROM MATRICULAS")
rows = cur.fetchone()

In [65]:
print(rows)

(Decimal('2023'), Decimal('9209610000000000'), 'JARDIM ANGELA', Decimal('8244830000000'), 'CR.P.CONV', 'MARGARIDAS AMARELAS', 'CAMPO LIMPO', '92755800000000000', 'Ativa', Decimal('362729000000000'), Decimal('6361983595'), 'Integral', Decimal('35350223581'), 'MINI GRUPO I', 'CRECHE', 'CRECHE', '3F', '3F', Decimal('700'), Decimal('1700'), 'ANUAL INICIO NO 1º SEMESTRE', Decimal('1311882504'), 'EDUCACAO INFANTIL', Decimal('1311882504'), 'CRECHE', Decimal('1311882504'), 'REGULAR', Decimal('2321482472'), None, Decimal('10'), Decimal('10'), Decimal('0'), Decimal('50'), Decimal('50'), Decimal('0'), Decimal('5'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('0'), Decimal('0'), Decimal('5300780000000000'), Decimal('2021'), Decimal('2'), Decimal('2'), Decimal('2'), 'M', Decimal('1311882504'), 'BRANCA', Decimal('12224382504'), 'BRASIL', '9354739472308090', 'SAO PAULO', 'SP', Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('1'), Decimal('92209800000000000'), datetime.datetime(2023, 2, 6, 0, 0), datetime.datetime(2023, 12, 21, 0, 0), Decimal('318'), Decimal('2023'), Decimal('2'), 'Ativa', Decimal('2023'), Decimal('1'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('1'), 'NA', None)

In [ ]:
try:
    cur.execute("DROP TABLE IF EXISTS TURMAS")
    cur.execute("""
        CREATE TABLE TURMAS (
            CD_UNIDADE_EDUCACAO           NUMERIC,
            DISTRITO                      TEXT,
            CD_SETOR                      NUMERIC,
            DRE                           TEXT,
            TIPO_ESCOLA                   TEXT,
            NOME_ESCOLA                   TEXT,
            REDE                          TEXT,
            CD_INEP_ESCOLA                NUMERIC,
            CD_TURMA                      NUMERIC,
            DESC_CICLO_ENSINO             TEXT,
            MODALIDADE                    TEXT,
            ETAPA                         TEXT,
            DESCSERV                      TEXT,
            DESC_TIPO_PROGRAMA            TEXT,
            DESCTURNO                     TEXT,
            HORA_INICIAL                  NUMERIC,
            HORA_FINAL                    NUMERIC,
            DURAC_DIA                     NUMERIC,
            DIRAC_SEMANA                  NUMERIC,
            X_SEMANA                      NUMERIC,
            VAGAS_OFERECIDAS              NUMERIC,
            MATRICULADOS                  NUMERIC,
            "0a3anos"                     NUMERIC,
            "4a5anos"                     NUMERIC,
            "6a10anos"                    NUMERIC,
            "11a15anos"                   NUMERIC,
            "16a20anos"                   NUMERIC,
            "21a30anos"                   NUMERIC,
            "31a40anos"                   NUMERIC,
            "41a50anos"                   NUMERIC,
            "51a60anos"                   NUMERIC,
            "MaiorDE60anos"               NUMERIC,
            SEXO_MASC                     NUMERIC,
            SEXO_FEM                      NUMERIC,
            QNTD_COR_BRANCA               NUMERIC,
            QNTD_COR_PARDA                NUMERIC,
            QNTD_COR_PRETA                NUMERIC,
            QNTD_COR_AMARELA              NUMERIC,
            "QNTD_COR_INDÍGENA"           NUMERIC,
            "QNTD_COR_NAO DECLARADA"      NUMERIC,
            QNTD_COR_RECUSA               NUMERIC,
            QNTD_COR_NEE                  NUMERIC,
            QNTD_TEG_TOTAL                NUMERIC,
            QNTD_TEG_N_DEF                NUMERIC,
            QNTD_TEG_DEF                  NUMERIC,
            Data_base                     TEXT
);
    """)
    
except Exception as e:
    print("failed to create table:", e)
    conn.rollback()

In [86]:
copy_command = """
COPY TURMAS (
    _id,
    CD_UNIDADE_EDUCACAO,
    DISTRITO,
    CD_SETOR,
    DRE,
    TIPO_ESCOLA,
    NOME_ESCOLA,
    REDE,
    CD_INEP_ESCOLA,
    CD_TURMA,
    DESC_CICLO_ENSINO,
    MODALIDADE,
    ETAPA,
    DESCSERV,
    DESC_TIPO_PROGRAMA,
    DESCTURNO,
    HORA_INICIAL,
    HORA_FINAL,
    DURAC_DIA,
    DIRAC_SEMANA,
    X_SEMANA,
    VAGAS_OFERECIDAS,
    MATRICULADOS,
    "0a3anos",
    "4a5anos",
    "6a10anos",
    "11a15anos",
    "16a20anos",
    "21a30anos",
    "31a40anos",
    "41a50anos",
    "51a60anos",
    "MaiorDE60anos",
    SEXO_MASC,
    SEXO_FEM,
    QNTD_COR_BRANCA,
    QNTD_COR_PARDA,
    QNTD_COR_PRETA,
    QNTD_COR_AMARELA,
    "QNTD_COR_INDÍGENA",
    "QNTD_COR_NAO DECLARADA",
    QNTD_COR_RECUSA,
    QNTD_COR_NEE,
    QNTD_TEG_TOTAL,
    QNTD_TEG_N_DEF,
    QNTD_TEG_DEF,
    Data_base
)
FROM STDIN WITH (
    FORMAT CSV,
    HEADER,
    DELIMITER ';',
    NULL ''
);
"""

with open('perfil_das_turmas_122024.csv', 'r', encoding='latin1') as f:
    try:
        cur.copy_expert(copy_command, f)
        conn.commit()
    except Exception as e:
        print("failed to copy data:", e)
        conn.rollback()

failed to copy data: ERRO:  sintaxe de entrada é inválida para tipo numeric: "31/12/2024"
CONTEXT:  COPY turmas, linha 2, coluna qntd_teg_def: "31/12/2024"

In [ ]:
conn.commit()
cur.close()
conn.close()